*,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  background-color: rgba(245, 245, 245, 1);
}

#navbar,
#navbar div,
#navbar li,
#navbar form,
#navbar svg,
#footer {
  background-color: rgba(255, 255, 255, 1);
}

#title {
  font-family: "Smooch", cursive;
  font-size: 2em;
}

#profile {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#profileIcon {
  background-color: rgba(255, 255, 255, 1);
}

#login {
  background-color: #fca908;
  color: #000000;
  border-radius: 2em;
  outline: none;
  box-shadow: none;
  border: none;
}

#add {
  float: right;
  position: absolute;
  z-index: 999;
  bottom: 0;
  right: 0;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  margin-right: 25px;
  margin-bottom: 75px;
  color: #000000;
  cursor: pointer;
}

#container {
  padding: 20px;
}

#container .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237f7bff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#container .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237f7bff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

h3 {
  padding-left: 10%;
  margin-bottom: 0;
}

.card-div {
  width: 80%;
  margin: auto;
}

#container .card {
  margin: 10px;
  margin-top: 30px;
  max-width: 23%;
}

.menu:hover {
  cursor: pointer;
}

#exampleModalCenter,
#exampleModalCenter .modal-dialog {
  background-color: transparent;
}
